<a href="https://colab.research.google.com/github/PKwaringa/datawrangling/blob/main/datawrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME: PAULINE KUNGU
PROJECT: Data Wrangling PROJECT
DATE: May 26, 2025

Data wrangling is the process of converting raw data into desired and usable format its getting the data ready for use ie preparing the data for model training and analysis.this are the steps to follow
1. discovery and load data - get the netflix dataset from kaggle and try to understand it.
2. cleaning the data- remove things like duplicates, missing values etc
3. data structuring and transformation- normalize, standardize etc
4. data enrichment - here basically check if there is enough data for analysis or have to join to another
5. validation- checking accuracy, quality etc
6. data exportation- export a clean data to csv

The objectives of the assignment are to:

1. Load the Netflix dataset from a CSV file and explore its structure
using pandas.
2. Perform data discovery to assess data types, missing values, and quality issues.
3. Clean the dataset by handling duplicates, missing values, and formatting inconsistencies.
4. Transform and enrich the dataset using techniques like filtering, sorting, grouping, and feature extraction.
5. Validate the final dataset by checking consistency, completeness, and logical accuracy.
6. Export the final cleaned dataset to a .csv file ready for analysis or visualization.

# 1. Load and explore the dataset

import libraries

In [62]:
import pandas as pd
import datetime as dt
import numpy as np

In [63]:
#load and read the data
df=pd.read_csv('/content/netflix_titles.csv')
#show the 1st 10 entries in the dataset
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

using some python functions am going to explore and try to understand the data.

In [64]:
#get information about the dataset like it shows there are 8807 entries/col and 12 rows as well as other information eg column name
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [65]:
# this fuction displays computation like mean for numerical data and where there is NAN its either it a categorical value or missing/empty space
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [66]:
#the shape attribute displaces the col and row of the dataset
df.shape

(8807, 12)

In [67]:
#here am checking for missing values in the data set which show the sum of the missing values in each col
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [68]:
#this attribute show the datatypes of the data in the col which is like the one we saw using the .info()function
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [69]:
#am checking for duplicate data in the dataset and there are none
df.duplicated().sum()

np.int64(0)

# 2. cleaning the data

earlier checked for duplicates and there were none but if there was i would use the following to remove them:df.drop_duplicates()

the col director, cast and country have more number of missing value so am going to try and fill them by taking advantage of their correlaation or relationship and i will drop other col

In [70]:
# Drop description column because it will not be used
df = df.drop(columns=['description'])

In [71]:
# Impute Director values by using relationship between cast and director
# List of Director-Cast pairs and the number of times they appear
df['dir_cast'] = df['director'] + '---' + df['cast']
counts = df['dir_cast'].value_counts() #counts unique values
filtered_counts = counts[counts >= 3] #checks if repeated 3 or more times
filtered_values = filtered_counts.index #gets the values i.e. names
lst_dir_cast = list(filtered_values) #convert to list
dict_direcast = dict()
for i in lst_dir_cast :
    director,cast = i.split('---')
    dict_direcast[director]=cast
for i in range(len(dict_direcast)):
    df.loc[(df['director'].isna()) & (df['cast'] == list(dict_direcast.items())[i][1]),'director'] = list(dict_direcast.items())[i][0]

In [72]:
# Assign Not Given to all other director fields
df.loc[df['director'].isna(),'director'] = 'Not Given'

In [73]:
df['director'].isnull().sum()

np.int64(0)

In [74]:
#Use directors to fill missing countries
directors = df['director']
countries = df['country']
#pair each director with their country use zip() to get an iterator of tuples
pairs = zip(directors, countries)
# Convert the list of tuples into a dictionary
dir_cntry = dict(list(pairs))

In [75]:
# Director matched to Country values used to fill in null country values
for i in range(len(dir_cntry)):
    df.loc[(df['country'].isna()) & (df['director'] == list(dir_cntry.items())[i][0]),'country'] = list(dir_cntry.items())[i][1]
# Assign Not Given to all other country fields
df.loc[df['country'].isna(),'country'] = 'Not Given'

In [76]:
# Assign Not Given to all other fields
df.loc[df['cast'].isna(),'cast'] = 'Not Given'

In [77]:
# dropping other row records that are null
df.drop(df[df['date_added'].isna()].index,axis=0,inplace=True)
df.drop(df[df['rating'].isna()].index,axis=0,inplace=True)
df.drop(df[df['duration'].isna()].index,axis=0,inplace=True)

In [78]:
#drop this col that we created previously
df.drop(columns=['dir_cast'], inplace=True)

In [80]:
#it might lead to misleading feature importance during model trainig
df.drop(['show_id'], axis=1, inplace=True)

# 3. Data Structuring

In [81]:
# Convert 'date_added' to datetime
df['date_added'] = pd.to_datetime(df['date_added'],format='mixed')

In [82]:
# Separate 'duration' into numeric value and unit (e.g., '90 min' ‚Üí 90, 'min')
df[['duration_value', 'duration_unit']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')

# Convert duration_value to numeric
df['duration_value'] = pd.to_numeric(df['duration_value'])

# View Resulting columns
print(df[['duration_value', 'duration_unit']])

      duration_value duration_unit
0                 90           min
1                  2       Seasons
2                  1        Season
3                  1        Season
4                  2       Seasons
...              ...           ...
8802             158           min
8803               2       Seasons
8804              88           min
8805              88           min
8806             111           min

[8790 rows x 2 columns]

In [83]:
df['duration_value'].dtype

dtype('int64')

In [84]:
df['duration_unit'].unique()

array(['min', 'Seasons', 'Season'], dtype=object)

In [85]:
#sort by date
df_sorted = df.sort_values(by='date_added', ascending=False)

In [86]:
df_sorted.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,duration_value,duration_unit
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Not Given,United States,2021-09-25,2020,PG-13,90 min,Documentaries,90,min
6,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Not Given,2021-09-24,2021,PG,91 min,Children & Family Movies,91,min
10,TV Show,"Vendetta: Truth, Lies and The Mafia",Not Given,Not Given,Not Given,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",1,Season
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",104,min
8,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",9,Seasons

In [87]:
# check if there are any added_dates that come before release_year
sum(df['date_added'].dt.year < df['release_year'])
df.loc[(df['date_added'].dt.year < df['release_year']),['date_added','release_year']]

     date_added  release_year
1551 2020-12-14          2021
1696 2020-11-15          2021
2920 2020-02-13          2021
3168 2019-12-06          2020
3287 2019-11-13          2020
3369 2019-10-25          2020
3433 2019-10-11          2020
4844 2018-05-30          2019
4845 2018-05-29          2019
5394 2017-07-01          2018
5658 2016-12-23          2018
5677 2016-12-13          2017
7063 2018-10-26          2019
7112 2013-03-31          2016

In [88]:
print("Fixing date inconsistencies...")
# Find records where date_added year is less than release_year
bad_dates = df['date_added'].dt.year < df['release_year']
print(f"Found {bad_dates.sum()} records with date inconsistencies")

Fixing date inconsistencies...
Found 14 records with date inconsistencies

In [89]:
# Fix these records by setting date_added to January 1st of the release_year
df.loc[bad_dates, 'date_added'] = pd.to_datetime(df.loc[bad_dates, 'release_year'].astype(str) + '-01-01')

In [90]:
# sample some of the records and check that they have been accurately replaced
df.iloc[[1551,1696,2920,3168]]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,duration_value,duration_unit
1551,TV Show,Hilda,Not Given,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States",2021-01-01,2021,TV-Y7,2 Seasons,Kids' TV,2,Seasons
1696,TV Show,Polly Pocket,Not Given,"Emily Tennant, Shannon Chan-Kent, Kazumi Evans...","Canada, United States, Ireland",2021-01-01,2021,TV-Y,2 Seasons,Kids' TV,2,Seasons
2920,TV Show,Love Is Blind,Not Given,"Nick Lachey, Vanessa Lachey",United States,2021-01-01,2021,TV-MA,1 Season,"Reality TV, Romantic TV Shows",1,Season
3168,TV Show,Fuller House,Not Given,"Candace Cameron Bure, Jodie Sweetin, Andrea Ba...",United States,2020-01-01,2020,TV-PG,5 Seasons,TV Comedies,5,Seasons

In [91]:
#Confirm that no more release_year inconsistencies
sum(df['date_added'].dt.year < df['release_year'])

0

# 4. Data enrichment

In [92]:
# Extract useful features from date_added
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month
df['day_added'] = df['date_added'].dt.day

In [93]:
# Create age of content feature (how old the content is when it was added to Netflix)
df['content_age_when_added'] = df['year_added'] - df['release_year']

# Separate movies and TV shows for better analysis
df['is_movie'] = df['type'] == 'Movie'
df['is_tv_show'] = df['type'] == 'TV Show'

In [94]:
# Clean and standardize the 'listed_in' column (genres)
df['genres'] = df['listed_in'].str.replace(', ', '|')  # Use | as separator for multiple genres
df['genre_count'] = df['listed_in'].str.count(',') + 1  # Count number of genres
df['primary_country'] = df['country'].str.split(',').str[0].str.strip()

In [95]:
# Create rating categories for movies and tv shows
mature_ratings = ['R', 'NC-17', 'TV-MA']
teen_ratings = ['PG-13', 'TV-14']
family_ratings = ['G', 'PG', 'TV-G', 'TV-PG', 'TV-Y', 'TV-Y7', 'TV-Y7-FV']

def categorize_rating(rating):
    if rating in mature_ratings:
        return 'Mature'
    elif rating in teen_ratings:
        return 'Teen'
    elif rating in family_ratings:
        return 'Family'
    else:
        return 'Other'

df['rating_category'] = df['rating'].apply(categorize_rating)

In [96]:
print(f"\nRating categories distribution:")
print(df['rating_category'].value_counts())

Rating categories distribution:
rating_category
Mature    4007
Teen      2647
Family    2054
Other       82
Name: count, dtype: int64

# 5. Data validation

In [97]:
# Check for any remaining missing values
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
type                      0
title                     0
director                  0
cast                      0
country                   0
date_added                0
release_year              0
rating                    0
duration                  0
listed_in                 0
duration_value            0
duration_unit             0
year_added                0
month_added               0
day_added                 0
content_age_when_added    0
is_movie                  0
is_tv_show                0
genres                    0
genre_count               0
primary_country           0
rating_category           0
dtype: int64

In [98]:
# Check for duplicates (should be 0)
print(f"\nDuplicate records: {df.duplicated().sum()}")

Duplicate records: 0

# 6. Data exportation

final dataset

In [99]:
print("\n=== FINAL DATASET SUMMARY ===")
print(f"Total records: {len(df)}")
print(f"Total columns: {len(df.columns)}")
print(f"Movies: {df['is_movie'].sum()}")
print(f"TV Shows: {df['is_tv_show'].sum()}")

# Show column names
print("\nColumn names:")
for i, col in enumerate(df.columns, 1):
    print(f"{i}. {col}")

=== FINAL DATASET SUMMARY ===
Total records: 8790
Total columns: 22
Movies: 6126
TV Shows: 2664

Column names:
1. type
2. title
3. director
4. cast
5. country
6. date_added
7. release_year
8. rating
9. duration
10. listed_in
11. duration_value
12. duration_unit
13. year_added
14. month_added
15. day_added
16. content_age_when_added
17. is_movie
18. is_tv_show
19. genres
20. genre_count
21. primary_country
22. rating_category

In [101]:
df.shape

(8790, 22)

In [102]:
# Save as CSV
df.to_csv('netflix_titles_cleaned.csv', index=False)